.full-width-table {
  width: 100%;
}

.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

// .ad-sets{
//   width: 80%;
//   margin: 20px auto;
// }

.credentials-form {
  min-width: 80%;
  max-width: 100%;
  width: 100%;
}

// .credentials-full-width {
//   width: 100%;
// }

.spinner {
  position: absolute;
  top: 40%;
  left: 44%;
}

.linkCSS {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
