
.full-width-table {
  width: 100%;
}

.credentials-form {
  min-width: 80%;
  max-width: 100%;
  width: 100%;
}

.ad-campaigns{
  width: 80%;
  margin: 20px auto;
}

.spinner{
  position: absolute;
  top: 40%;
  left: 44%;
}

.create-button{
  margin-left: 10%;
  position: sticky;
  top: 10%;
}

.hover-effect{
  cursor: pointer;
}