.full-width-table {
    width: 100%;
  }
  
  .ad-sets{
    width: 80%;
    margin: 20px auto;
  }
  
  .credentials-form {
    min-width: 80%;
    max-width: 100%;
    width: 100%;
  }
  
  .credentials-full-width {
    width: 100%;
  }

  .spinner{
    position: absolute;
    top: 40%;
    left: 44%;
  }

  .hover-effect{
    cursor: pointer;
  }